.field {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}

.button {
    color: white;
    background-color: rgb(85, 76, 184);
    margin-top: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

.denyButton {
    color: white;
    background-color: rgb(85, 76, 184);
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 8px;
}
